body{
    background-color: green;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, sans-serif';
    font-weight: bold;
}
h1{
    color: goldenrod;
}
#message{
    font-style: italic;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-row-gap: 1vh;
}
.button{
    border-radius: 10px;
    height: 5vh;
    width: 25vh;
    color: green;
    background-color: goldenrod;
    font-weight: bold;

    grid-column: 2;
    margin: auto;
}